<h2>User Summary</h2>

<input type="text" [(ngModel)]="filterTerm" (input)="filterUsers()" placeholder="Search by name or email" />

<table>
  <thead>
    <tr>
      <th (click)="sortBy('fullName')">Name <span style="font-weight: normal;"><sub>(sort)</sub></span></th>
      <th (click)="sortBy('email')">Email<span style="font-weight: normal;"><sub>(sort)</sub></span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUsers">
      <td>{{ user.fullName }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
